@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: #7d4f00;
	text-decoration: none;
}
a:hover, a:focus {
	color: dodgerblue;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

#maincontent {
  background-color: #f3f3f3;
  height: 100%;
}
#footer {
  background-color: #444;
  color: #dedede;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

#footer a {
    color: #8cb1f9;
}

#footer a:hover {
    color: dodgerblue;
}
/* ====================== Navigation ====================== */
nav {
    width: 100%;
    height: 80px;
    background-color: #252831;
    text-align: center;
    display: inline-block;
}
nav h1 {
    text-align: center;
    padding-top: 20px;
}
@media screen and (max-width: 390px) {
    nav {
        height: 100px;
    }
}
nav h1 a {
  color: #ddd;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
    margin: 10px 15px 20px 15px;
  text-transform: uppercase;
}

@media screen and (max-width: 420px) {
    nav h1 a {
        font-weight: 100;
        letter-spacing: 8px;
    }
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(100% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #006cc9;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 100px;
  background-color: #0072a8;
  align-items: center;
}

@media screen and (max-width: 750px) {
    section .filter-options {
        height: 150px;
    }
    section .filter-options select {
        margin-right: 15px;
        width: 93%;
    }
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 10px;
    padding: 15px 0 0 0;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
    border-radius: 3px;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 47%;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0 0px 0 0;
  padding: 20px 15px 60px;
  text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: space-around;
}


@media screen and (min-width: 701px ) {
    section #restaurants-list li {
      width: 40%;
    }
}

@media screen and (min-width: 1100px ) {
    section #restaurants-list li {
        width: 25%;
    }
}


#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  min-height: 200px;
  text-align: left;
    margin: 15px 0 20px;
    padding: 15px 15px 15px 15px;
  width: 93%;
    border-radius: 5px;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0 0px 0 0;
  max-width: 100%;
  min-height: 150px;
    border-radius: 5px;
}
#restaurants-list li h3 {
  color: #be1900;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  background-color: #be1900;
    border: none;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
    line-height: 28px;
  padding: 8px 30px 0;
    min-height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
    border-radius: 3px;
}

#restaurants-list li a:hover {
    background-color: #fd2000;
    border-bottom: 1px solid #b5b5b5;
    border-right: 1px solid #b5b5b5;
    cursor: pointer;
}

/* ====================== Restaurant Details ====================== */

.inside body {
    display: flex;
    flex-direction: column;
}
.inside header {

  width: calc(100%);
  z-index: 1000;
}
.inside #restaurant-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
@media screen and (min-width: 650px) {
    #restaurant-details {
        margin-right: 25px;
    }
}
.inside #map {
  background-color: #ccc;
    border-radius: 3px;
  height: 250px;
  width: 100%;
}
.inside #footer {
  width: calc(100% - 50px);
}
.inside #maincontent {
    display: flex;
}
@media screen and (max-width: 650px) {
    .inside #maincontent {
        flex-direction: column;
    }

    .inside #reviews-container, .inside #restaurant-container, .inside #map-container {
        width: calc(100% - 80px);
        border-top: transparent;
        padding: 0px 40px 0;
    }
    .inside #map-container {
        width: calc(100% - 80px);
    }
}
#restaurant-name {
  color: #be1900;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
    border-radius: 3px;
	width: 100%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

#restaurant-hours .day {
    font-weight: bold;
    padding-right: 5px;
}
#restaurant-cuisine {
    background-color: #333;
    border-radius: 3px;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
#restaurant-container, #reviews-container {
    height: 100%;
    padding: 20px 20px 0px;
    width: 100%;
}

.inside #map-container {
    height: 100%;
    padding: 0px 20px 0px;
    width: 100%;
}




#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background: linear-gradient(180deg, transparent 5%, white 80%, transparent);
    border-bottom: dotted gray 1px;
  display: flex;
    flex-direction: column;
  list-style-type: none;
  margin: 0 0 15px;
  overflow: hidden;
  padding: 10px 0px 30px 0px;
  width: 100%;
}
#reviews-list li p {
  margin: 0 0px 5px;
}
#restaurant-container div h3, .inside #map-container h3, #reviews-container h3  {
    color: #be1900;
    font-size: 18pt;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt;
    margin: 18px 0 2px;
    border-bottom: 1px solid gray;
}

#reviews-list li .reviewer, #reviews-list li .comments, #reviews-list li .star-rating {
    margin-left: 15px;
}
#reviews-list li .reviewer {
    font-weight: bold;
    font-size: 12pt;
}
#reviews-list li .comments {
    padding-right: 15px;
}
#reviews-list li .date {
    font-style: italic;
    text-align: right;
    margin-right: 15px;
}
.star-rating {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 0;
}

.full-star p, .empty-star p {
    margin: 0 0 0;

}

.full-star {
    color: gold;
}
#restaurant-hours td {
  color: #666;
}

section #no-results {
    text-align: center;
    margin: 30px auto 0px auto;
    padding-bottom: 30px;
    width: 100%;
}

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}